//Table Default
.table-default{
  width: 100%;
  border: 2px solid #F9CFD6;
  border-spacing: 0;
  td{
    border-right: 2px solid #F9CFD6;
    border-bottom: 2px solid #F9CFD6;
    vertical-align: middle;
    padding: 6px 12px;
    color: #3B3B3B;
    font-size: 16px;
    line-height: 1.5;
    &:last-child{
      border-right: 0;
    }
    &.check{
      width: 37%;
      text-align: center;
      background-color: #FFF;
    }
  }
  tr:last-child td{
    border-bottom: 0;
  }
  @media(max-width: 767px){
    td{
      padding: 1.533vw 2.133vw;
      font-size: 4.267vw;
      letter-spacing: 0;
    }
  }
}
//End Table Default
