//Two table
.ls-list-check{
  width: 100%;
  margin: 0;
  padding: 0 15px 0 0;
  list-style: none;
  column-count: 2;
  column-gap: 10px;
  li{
    width: 100%;
    border: 1px solid #FFCCD5;
    display: flex;
    .check{
      width: 34%;
      min-height: 28px;
      text-align: center;
      border-right: 1px solid #FFCCD5;
      position: relative;
      background-color: #FFEFF0;
      &:after{
        content: "";
        display: block;
        height: 100%;
        width: 0;
        border-left: 1px solid #FFCCD5;
        position: absolute;
        top: 0;
        right: 5px;
      }
    }
    .label{
      width: 66%;
      font-size: 16px;
      padding: 2px 2px 2px 11px;
      line-height: 1.5;
      letter-spacing: 3.2px;
      background-color: #FFF;
      color: #333333;
    }
    &:first-child{
      border-top-left-radius: 10px;
      overflow: hidden;
    }
  }
  @media(max-width: 767px){
    padding-right: 0;
    column-count: 1;
    li{
      .check{
        background-color: #FFFFFF;
        border-right: 0;
        order: 2;
        &:after{
          right: auto;
          left: 5px;
        }
      }
      .label{
        position: relative;
        background-color: #FFEFF0;
        border-right: 1px solid #FFCCD5;
        order: 1;
        font-size: 4.267vw;
        padding: 0.533vw 3.467vw;
      }
    }
  }
}