/* ------------------------------
 width: all
------------------------------ */
main {
  margin-top: 70px;
}
main section.s01 {
  padding: 0 40px;
}
main section.s01 .wrapper {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  z-index: 20000;
}
main section.s01 .wrapper .dummy {
  height: 750px;
  background-image: url(../images/dummy.jpg);
  background-size: cover;
  background-position: center center;
}
main section.s01 .wrapper .searchbox {
  width: 870px;
  height: 580px;
  max-width: calc(100vw - 260px);
  background-color: #FDF4F5;
  border-radius: 11px;
  border: 3px solid #fff;
  position: absolute;
  top: 85px;
  left: calc(50% - 607px);
  padding: 30px 40px 0px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.26);
          box-shadow: 0 4px 7px rgba(0, 0, 0, 0.26);
}
main section.s01 .wrapper .searchbox .left {
  width: 65%;
}
main section.s01 .wrapper .searchbox .photo {
  width: 33%;
  max-width: 257.25px;
  display: block;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 25px;
}
main section.s01 .wrapper .searchbox .msg01 {
  width: 316.5px;
  display: block;
  max-width: 100%;
}
main section.s01 .wrapper .searchbox .btn_modal03 {
  width: 478px;
  height: 72px;
  position: relative;
  margin-top: 5px;
  max-width: 100%;
}
main section.s01 .wrapper .searchbox .btn_modal03:hover {
  cursor: pointer;
}
main section.s01 .wrapper .searchbox .btn_modal03:hover .img01 {
  opacity: 0;
}
main section.s01 .wrapper .searchbox .btn_modal03:hover .img02 {
  opacity: 1;
}
main section.s01 .wrapper .searchbox .btn_modal03 .img01 {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 1;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
main section.s01 .wrapper .searchbox .btn_modal03 .img02 {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
main section.s01 .wrapper .searchbox .t01 {
  font-size: 25px;
  padding-left: 50px;
}
main section.s01 .wrapper .searchbox .t01 span {
  font-size: 17px;
}
main section.s01 .wrapper .searchbox .dl01 {
  width: 462px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  max-width: 100%;
  padding-left: 50px;
}
main section.s01 .wrapper .searchbox .dl01 dt {
  width: 260px;
  position: relative;
}
main section.s01 .wrapper .searchbox .dl01 dt input {
  width: 100%;
  display: block;
  background-color: #fff;
  border: 1px solid #D2D1D1;
  border-radius: 6px;
  font-size: 19px;
  padding: 13px 15px;
  line-height: 19px;
}
main section.s01 .wrapper .searchbox .dl01 dt span {
  width: 30px;
  display: block;
  position: absolute;
  top: 13px;
  left: 15px;
  color: #A0AEC0;
  font-size: 25px;
  line-height: 25px;
}
main section.s01 .wrapper .searchbox .dl01 dd {
  width: 140px;
  font-size: 12px;
  line-height: 18px;
}
main section.s01 .wrapper .searchbox .dl02,
main section.s01 .wrapper .searchbox .dl03,
main section.s01 .wrapper .searchbox .dl04 {
  width: 462px;
  margin-top: 5px;
  max-width: 100%;
  padding-left: 50px;
}
main section.s01 .wrapper .searchbox .dl02 dt,
main section.s01 .wrapper .searchbox .dl03 dt,
main section.s01 .wrapper .searchbox .dl04 dt {
  width: 100%;
}
main section.s01 .wrapper .searchbox .dl02 dt input,
main section.s01 .wrapper .searchbox .dl03 dt input,
main section.s01 .wrapper .searchbox .dl04 dt input {
  width: 100%;
  display: block;
  background-color: #fff;
  border: 1px solid #D2D1D1;
  border-radius: 6px;
  font-size: 19px;
  padding: 13px 15px;
  line-height: 19px;
}
main section.s01 .wrapper .searchbox .dl02 dt input::-webkit-input-placeholder, main section.s01 .wrapper .searchbox .dl03 dt input::-webkit-input-placeholder, main section.s01 .wrapper .searchbox .dl04 dt input::-webkit-input-placeholder {
  color: #BEBEBE;
}
main section.s01 .wrapper .searchbox .dl02 dt input::-moz-placeholder, main section.s01 .wrapper .searchbox .dl03 dt input::-moz-placeholder, main section.s01 .wrapper .searchbox .dl04 dt input::-moz-placeholder {
  color: #BEBEBE;
}
main section.s01 .wrapper .searchbox .dl02 dt input:-ms-input-placeholder, main section.s01 .wrapper .searchbox .dl03 dt input:-ms-input-placeholder, main section.s01 .wrapper .searchbox .dl04 dt input:-ms-input-placeholder {
  color: #BEBEBE;
}
main section.s01 .wrapper .searchbox .dl02 dt input::-ms-input-placeholder, main section.s01 .wrapper .searchbox .dl03 dt input::-ms-input-placeholder, main section.s01 .wrapper .searchbox .dl04 dt input::-ms-input-placeholder {
  color: #BEBEBE;
}
main section.s01 .wrapper .searchbox .dl02 dt input::placeholder,
main section.s01 .wrapper .searchbox .dl03 dt input::placeholder,
main section.s01 .wrapper .searchbox .dl04 dt input::placeholder {
  color: #BEBEBE;
}
main section.s01 .wrapper .searchbox .dl02 {
  width: 271px;
}
main section.s01 .wrapper .searchbox .dl02 dt select {
  width: 100%;
  display: block;
  background-color: #fff;
  border: 1px solid #D2D1D1;
  border-radius: 6px;
  font-size: 19px;
  padding: 13px 15px;
  line-height: 19px;
}
main section.s01 .wrapper .searchbox .dl02 dt select::-webkit-input-placeholder {
  color: #BEBEBE;
}
main section.s01 .wrapper .searchbox .dl02 dt select::-moz-placeholder {
  color: #BEBEBE;
}
main section.s01 .wrapper .searchbox .dl02 dt select:-ms-input-placeholder {
  color: #BEBEBE;
}
main section.s01 .wrapper .searchbox .dl02 dt select::-ms-input-placeholder {
  color: #BEBEBE;
}
main section.s01 .wrapper .searchbox .dl02 dt select::placeholder {
  color: #BEBEBE;
}
main section.s01 .wrapper .searchbox .btn_submit {
  display: block !important;
  border: none !important;
  outline: none;
  width: 141px;
  height: 52px;
  background-image: url(../images/btn_search.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  font-size: 0;
  margin: 10px 0 0 271px;
}
main section.s01 .wrapper .searchbox .dl05 {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 60px 0 50px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -17px;
}
main section.s01 .wrapper .searchbox .dl05 dt {
  width: 126px;
  background-color: #F4B3B7;
  border-radius: 6px;
  font-size: 15px;
  line-height: 16px;
  color: #fff;
  padding: 5px 0;
  text-align: center;
}
main section.s01 .wrapper .searchbox .dl05 dd {
  width: calc(100% - 145px);
  position: relative;
  padding: 0 40px;
}
main section.s01 .wrapper .searchbox .dl05 dd .icon_arrow06 {
  display: block;
  position: absolute;
  top: 8px;
  left: 0;
}
main section.s01 .wrapper .searchbox .dl05 dd .icon_arrow07 {
  display: block;
  position: absolute;
  top: 8px;
  right: 0;
}
main section.s01 .wrapper .searchbox .dl05 dd ul li {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
main section.s01 .wrapper .searchbox .dl05 dd ul li:last-child {
  margin-right: 0;
}
main section.s01 .wrapper .searchbox .dl05 dd ul li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #0867BF;
  line-height: 14px;
  background-color: #FBF5F5;
  padding: 5px;
  border-radius: 5px;
}
main section.s01 .wrapper .searchbox .dl05 dd ul li a:hover {
  background-color: #FEDFE0;
  opacity: 1;
}
main section.s01 .wrapper .mapmenu {
  position: absolute;
  top: 80px;
  right: 140px;
}
main section.s01 .wrapper .mapmenu li {
  width: 65px;
  position: relative;
}
main section.s01 .wrapper .mapmenu li + li {
  margin-top: 30px;
}
main section.s01 .wrapper .mapmenu li .icon {
  width: 65px;
  height: 65px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: #F9CFD6;
  border-radius: 65px;
  background-repeat: no-repeat;
  background-position: center center;
}
main section.s01 .wrapper .mapmenu li .icon:hover {
  background-color: #EE7E94;
}
main section.s01 .wrapper .mapmenu li .icon:hover .msg {
  opacity: 1;
}
main section.s01 .wrapper .mapmenu li.li01 .icon {
  background-image: url(../images/icon_map0101.svg);
}
main section.s01 .wrapper .mapmenu li.li02 .icon {
  background-image: url(../images/icon_map0102.svg);
}
main section.s01 .wrapper .mapmenu li.li03 .icon {
  background-image: url(../images/icon_map0103.svg);
}
main section.s01 .wrapper .mapmenu li .msg {
  position: absolute;
  display: block;
  top: -60px;
  left: -90px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 0;
}
main section.s02 {
  padding: 80px 40px 20px;
}
main section.s02 .wrapper {
  max-width: 1120px;
  margin: 0 auto;
}
main section.s02 .wrapper .dl01 {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 3px solid #F9CFD6;
}
main section.s02 .wrapper .dl01 dt {
  width: 340px;
  font-size: 25px;
  border: 3px solid #F9CFD6;
  border-radius: 10px 10px 0 0;
  background-color: #FDF4F4;
  padding: 10px 0;
  text-align: center;
  margin-bottom: -3px;
}
main section.s02 .wrapper .dl01 dt span {
  font-size: 18px;
}
main section.s02 .wrapper .dl01 dd {
  width: calc(100% - 340px);
  position: relative;
}
main section.s02 .wrapper .dl01 dd img {
  width: 348.25px;
  display: block;
  position: absolute;
  right: 40px;
  bottom: 0;
}
main section.s02 .wrapper .t01 {
  font-size: 14px;
  padding-left: 40px;
  margin-top: 15px;
}
main section.s02 .wrapper .arealist03 {
  padding-top: 20px;
  padding-left: 40px;
}
main section.s02 .wrapper .arealist03 .area01,
main section.s02 .wrapper .arealist03 .area02,
main section.s02 .wrapper .arealist03 .area03,
main section.s02 .wrapper .arealist03 .area04 {
  width: 251px;
  height: 70px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  background-size: 251px auto;
  background-position: center center;
  background-repeat: no-repeat;
  border: 3px solid transparent;
  position: relative;
  border-radius: 6px;
}
main section.s02 .wrapper .arealist03 .area01:hover,
main section.s02 .wrapper .arealist03 .area02:hover,
main section.s02 .wrapper .arealist03 .area03:hover,
main section.s02 .wrapper .arealist03 .area04:hover {
  border: 3px solid #F18B9D;
  cursor: pointer;
}
main section.s02 .wrapper .arealist03 .area01:hover .menu,
main section.s02 .wrapper .arealist03 .area02:hover .menu,
main section.s02 .wrapper .arealist03 .area03:hover .menu,
main section.s02 .wrapper .arealist03 .area04:hover .menu {
  display: block;
}
main section.s02 .wrapper .arealist03 .area01:hover .arrow,
main section.s02 .wrapper .arealist03 .area02:hover .arrow,
main section.s02 .wrapper .arealist03 .area03:hover .arrow,
main section.s02 .wrapper .arealist03 .area04:hover .arrow {
  display: block;
}
main section.s02 .wrapper .arealist03 .area01.area01,
main section.s02 .wrapper .arealist03 .area02.area01,
main section.s02 .wrapper .arealist03 .area03.area01,
main section.s02 .wrapper .arealist03 .area04.area01 {
  background-image: url(../images/tp0202.png);
}
main section.s02 .wrapper .arealist03 .area01.area01 .menu,
main section.s02 .wrapper .arealist03 .area02.area01 .menu,
main section.s02 .wrapper .arealist03 .area03.area01 .menu,
main section.s02 .wrapper .arealist03 .area04.area01 .menu {
  left: 0;
}
main section.s02 .wrapper .arealist03 .area01.area02,
main section.s02 .wrapper .arealist03 .area02.area02,
main section.s02 .wrapper .arealist03 .area03.area02,
main section.s02 .wrapper .arealist03 .area04.area02 {
  background-image: url(../images/tp0203.png);
}
main section.s02 .wrapper .arealist03 .area01.area03,
main section.s02 .wrapper .arealist03 .area02.area03,
main section.s02 .wrapper .arealist03 .area03.area03,
main section.s02 .wrapper .arealist03 .area04.area03 {
  background-image: url(../images/tp0204.png);
}
main section.s02 .wrapper .arealist03 .area01.area04,
main section.s02 .wrapper .arealist03 .area02.area04,
main section.s02 .wrapper .arealist03 .area03.area04,
main section.s02 .wrapper .arealist03 .area04.area04 {
  background-image: url(../images/tp0205.png);
}
main section.s02 .wrapper .arealist03 .area01 .name,
main section.s02 .wrapper .arealist03 .area02 .name,
main section.s02 .wrapper .arealist03 .area03 .name,
main section.s02 .wrapper .arealist03 .area04 .name {
  font-size: 28px;
  color: #0867BF;
  font-weight: 500;
  line-height: 28px;
  padding: 17px 0 0 110px;
}
main section.s02 .wrapper .arealist03 .area01 .name span,
main section.s02 .wrapper .arealist03 .area02 .name span,
main section.s02 .wrapper .arealist03 .area03 .name span,
main section.s02 .wrapper .arealist03 .area04 .name span {
  font-size: 16px;
  padding-left: 5px;
}
main section.s02 .wrapper .arealist03 .area01 .menu,
main section.s02 .wrapper .arealist03 .area02 .menu,
main section.s02 .wrapper .arealist03 .area03 .menu,
main section.s02 .wrapper .arealist03 .area04 .menu {
  position: absolute;
  top: 70px;
  padding: 25px 30px 30px;
  background-color: #fff;
  width: 760px;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.16);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.16);
  z-index: 100000;
  display: none;
}
main section.s02 .wrapper .arealist03 .area01 .menu ul,
main section.s02 .wrapper .arealist03 .area02 .menu ul,
main section.s02 .wrapper .arealist03 .area03 .menu ul,
main section.s02 .wrapper .arealist03 .area04 .menu ul {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main section.s02 .wrapper .arealist03 .area01 .menu ul li,
main section.s02 .wrapper .arealist03 .area02 .menu ul li,
main section.s02 .wrapper .arealist03 .area03 .menu ul li,
main section.s02 .wrapper .arealist03 .area04 .menu ul li {
  width: 33.3%;
  margin-top: 25px;
}
main section.s02 .wrapper .arealist03 .area01 .menu ul li label,
main section.s02 .wrapper .arealist03 .area02 .menu ul li label,
main section.s02 .wrapper .arealist03 .area03 .menu ul li label,
main section.s02 .wrapper .arealist03 .area04 .menu ul li label {
  display: block;
  font-size: 21px;
  line-height: 21px;
}
main section.s02 .wrapper .arealist03 .area01 .menu ul li label input,
main section.s02 .wrapper .arealist03 .area02 .menu ul li label input,
main section.s02 .wrapper .arealist03 .area03 .menu ul li label input,
main section.s02 .wrapper .arealist03 .area04 .menu ul li label input {
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin: 1px 20px 0 0;
}
main section.s02 .wrapper .arealist03 .area01 .menu .btnbox04,
main section.s02 .wrapper .arealist03 .area02 .menu .btnbox04,
main section.s02 .wrapper .arealist03 .area03 .menu .btnbox04,
main section.s02 .wrapper .arealist03 .area04 .menu .btnbox04 {
  border-top: 1px solid #D4D1D1;
  margin-top: 35px;
  position: relative;
  text-align: center;
  padding-top: 30px;
}
main section.s02 .wrapper .arealist03 .area01 .menu .btnbox04 .arrow,
main section.s02 .wrapper .arealist03 .area02 .menu .btnbox04 .arrow,
main section.s02 .wrapper .arealist03 .area03 .menu .btnbox04 .arrow,
main section.s02 .wrapper .arealist03 .area04 .menu .btnbox04 .arrow {
  display: block;
  top: -15px;
  left: 200px;
}
main section.s02 .wrapper .arealist03 .area01 .menu .btnbox04 .btn01,
main section.s02 .wrapper .arealist03 .area02 .menu .btnbox04 .btn01,
main section.s02 .wrapper .arealist03 .area03 .menu .btnbox04 .btn01,
main section.s02 .wrapper .arealist03 .area04 .menu .btnbox04 .btn01 {
  display: inline-block;
  width: 156px;
  height: 38px;
  vertical-align: top;
  background-image: url(../images/tp0206.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border: none !important;
  font-size: 0;
  margin: 0 5px;
  cursor: pointer;
}
main section.s02 .wrapper .arealist03 .area01 .menu .btnbox04 .btn02,
main section.s02 .wrapper .arealist03 .area02 .menu .btnbox04 .btn02,
main section.s02 .wrapper .arealist03 .area03 .menu .btnbox04 .btn02,
main section.s02 .wrapper .arealist03 .area04 .menu .btnbox04 .btn02 {
  display: inline-block;
  width: 156px;
  height: 38px;
  vertical-align: top;
  background-image: url(../images/tp0207.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border: none !important;
  font-size: 0;
  margin: 0 5px;
  cursor: pointer;
}
main section.s02 .wrapper .arealist03 .area01 .arrow,
main section.s02 .wrapper .arealist03 .area02 .arrow,
main section.s02 .wrapper .arealist03 .area03 .arrow,
main section.s02 .wrapper .arealist03 .area04 .arrow {
  display: block;
  position: absolute;
  top: 50px;
  right: 5px;
  z-index: 10000000;
  display: none;
}
main section.s02 .wrapper .dl02 {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 3px solid #F9CFD6;
  margin-top: 60px;
}
main section.s02 .wrapper .dl02 dt {
  width: 340px;
  font-size: 25px;
  border: 3px solid #F9CFD6;
  border-radius: 10px 10px 0 0;
  background-color: #FDF4F4;
  padding: 10px 0;
  text-align: center;
  margin-bottom: -3px;
}
main section.s02 .wrapper .dl02 dt span {
  font-size: 18px;
}
main section.s02 .wrapper .dl02 dd {
  width: calc(100% - 340px);
  position: relative;
}
main section.s02 .wrapper .dl02 dd img {
  width: 253.5px;
  display: block;
  position: absolute;
  right: 110px;
  bottom: -10px;
}
main section.s02 .wrapper .t02 {
  padding: 20px 0 0 40px;
  font-size: 14px;
}
main section.s02 .wrapper .mapbox {
  margin-top: 30px;
}
main section.s02 .wrapper .mapbox img {
  width: 100%;
  max-width: 1067px;
  display: block;
  margin: 0 auto;
}
main section.s02 .wrapper .t03 {
  font-size: 13px;
  color: #949495;
  padding-left: 40px;
  margin-top: -80px;
}
main section.s02 .wrapper .t03 span {
  font-size: 8px;
  padding-left: 30px;
}
main section.s02 .wrapper .mapdatalist {
  font-size: 0;
  letter-spacing: 0;
  margin-top: 40px;
  padding-left: 40px;
}
main section.s02 .wrapper .mapdatalist li {
  width: 48px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
main section.s02 .wrapper .mapdatalist li:hover .icon {
  opacity: 0;
  -webkit-transition-duration: 0;
          transition-duration: 0;
}
main section.s02 .wrapper .mapdatalist li:hover .data {
  display: block;
}
main section.s02 .wrapper .mapdatalist li .icon {
  width: 40px;
  display: block;
  opacity: 0.6;
}
main section.s02 .wrapper .mapdatalist li .data {
  position: absolute;
  bottom: 0;
  left: -40px;
  display: none;
}
main section.s02 .wrapper .mapdatalist li .data img {
  width: 100%;
  display: block;
}
main section.s02 .wrapper .mapdatalist li .data .link01 {
  position: absolute;
  display: block;
  height: 20px;
  width: 110px;
}
main section.s02 .wrapper .mapdatalist li .data .link02 {
  position: absolute;
  display: block;
  height: 26px;
  width: 165px;
}
main section.s02 .wrapper .mapdatalist li.li01 .data {
  width: 422.5px;
}
main section.s02 .wrapper .mapdatalist li.li01 .link01 {
  top: 213px;
  right: 60px;
}
main section.s02 .wrapper .mapdatalist li.li01 .link02 {
  top: 250px;
  right: 115px;
}
main section.s02 .wrapper .mapdatalist li.li02 .data {
  width: 478.5px;
  left: -50px;
}
main section.s02 .wrapper .mapdatalist li.li02 .link01 {
  top: 213px;
  right: 60px;
}
main section.s02 .wrapper .mapdatalist li.li02 .link02 {
  top: 250px;
  right: 115px;
}
main section.s02 .wrapper .mapdatalist li.li03 .data {
  width: 463.5px;
  left: -55px;
}
main section.s02 .wrapper .mapdatalist li.li03 .link01 {
  top: 213px;
  right: 60px;
}
main section.s02 .wrapper .mapdatalist li.li03 .link02 {
  top: 250px;
  right: 85px;
  width: 230px;
}
main section.s02 .wrapper .mapdatalist li.li04 .data {
  width: 453.5px;
  left: -50px;
}
main section.s02 .wrapper .mapdatalist li.li04 .link01 {
  top: 213px;
  right: 60px;
}
main section.s02 .wrapper .mapdatalist li.li04 .link02 {
  top: 250px;
  right: 85px;
  width: 230px;
}
main section.s02 .wrapper .mapdatalist li.li05 .data {
  width: 436.5px;
  left: -45px;
}
main section.s02 .wrapper .mapdatalist li.li05 .link01 {
  top: 213px;
  right: 60px;
}
main section.s02 .wrapper .mapdatalist li.li05 .link02 {
  top: 250px;
  right: 85px;
  width: 230px;
}
main section.s02 .wrapper .mapdatalist li.li06 .data {
  width: 432.5px;
}
main section.s02 .wrapper .mapdatalist li.li06 .link01 {
  top: 213px;
  right: 60px;
}
main section.s02 .wrapper .mapdatalist li.li06 .link02 {
  top: 250px;
  right: 85px;
  width: 230px;
}
main section.s02 .wrapper .mapdatalist li.li07 .data {
  width: 444.5px;
}
main section.s02 .wrapper .mapdatalist li.li07 .link01 {
  top: 213px;
  right: 60px;
}
main section.s02 .wrapper .mapdatalist li.li07 .link02 {
  top: 250px;
  right: 85px;
  width: 230px;
}
main section.s02 .wrapper .mapdatalist li.li08 .data {
  width: 426px;
  left: -30px;
}
main section.s02 .wrapper .mapdatalist li.li08 .link01 {
  top: 213px;
  right: 60px;
}
main section.s02 .wrapper .mapdatalist li.li08 .link02 {
  top: 250px;
  right: 85px;
  width: 230px;
}
main section.s02 .wrapper .mapdatalist li.li09 .data {
  width: 469.5px;
  left: -60px;
}
main section.s02 .wrapper .mapdatalist li.li09 .link01 {
  top: 213px;
  right: 60px;
}
main section.s02 .wrapper .mapdatalist li.li09 .link02 {
  top: 250px;
  right: 85px;
  width: 230px;
}
/* ------------------------------
 width < $width-1
------------------------------ */