.office-manager{
  .ls-box__title{
    margin-bottom: 33px;
  }
  .ls-table {
    @media(min-width: 768px){
      &__label {
        width: 165px;
        margin-right: 1px;
        border-right: 2px solid #F9CFD6;
        font-size: 15px;
        color: #8A8787;
        min-height: 40px;
        padding-top: 10px;
      }

      &__value {
        width: calc(100% - 164px);
        .postcode{
          color: #8A8787;
          margin-right: 15px;
        }
        .address{
          color: #8A8787;
        }
        .link-groups{
          float: right;
          a{
            color: #269BCF;
            text-decoration: underline;
            font-size: 14px;
            display: block;
          }
        }
        .view-all{
          color: #269BCF;
          text-decoration: underline;
          font-size: 15px;
          display: block;
          float: right;
          margin-right: 5px;
        }
        .policy-detail{
          font-size: 15px;
          line-height: 1.4;
        }
        .date{
          font-size: 12px;
          color: #8A8787;
          margin-left: 30px;
          letter-spacing: 1.2px;
        }
        .show-more{
          font-size: 15px;
          min-width: 109px;
          text-align: right;
          right: 10px;
        }
        .link{
          color: #269BCF;
          font-size: 15px;
          text-decoration: underline;
        }
        .ls-checked{
          margin-left: 50px;
        }
      }
    }

    @media(max-width: 767px){
      .link-groups{
        margin-top: 2.667vw;
        text-align: right;
        a{
          color: #269BCF;
          font-size: 3.200vw;
          display: block;
          text-decoration: underline;
        }
      }
      .view-all{
        color: #269BCF;
        text-decoration: underline;
        float: right;
        display: inline;
        display: block;
        font-size: 3.200vw;
      }
    }
  }
  .absolute-row{
    height: 142px;
  }
  .policy-continuity-years,
  .operating-corporation{
    padding-right: 40px;
  }

  @media(max-width: 767px){
    .policy-continuity-years,
    .operating-corporation{
      padding-right: 0;
    }
    &.ls-box{
      margin-bottom: 0;
    }
  }
}
