@charset "UTF-8";
/* ------------------------------
 width: all
------------------------------ */
html {
  background-color: #FFF9F9;
}

.header02 .wrapper .t01 {
  color: #315EA9;
  padding-left: 370px;
  position: relative;
  max-width: 900px;
}
.header02 .wrapper .t01 span {
  position: absolute;
  top: 0;
  right: 0;
}

h1 {
  color: #315EA9 !important;
}

main section.s01 {
  padding: 80px 60px 0;
}
main section.s01 .wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
main section.s01 .wrapper h2 {
  font-size: 28px;
  color: #383838;
}
main section.s01 .wrapper .t01 {
  font-size: 14px;
  line-height: 30px;
  margin-top: 40px;
  border-bottom: 1px solid #D1D1D1;
  padding-bottom: 40px;
  letter-spacing: 2px;
  color: #333;
}
main section.s01 .wrapper h3 {
  margin-top: 80px;
  color: #315EA9;
  font-size: 24px;
}
main section.s01 .wrapper .box01 {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 55px;
}
main section.s01 .wrapper .box01 .logo {
  width: 221px;
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
main section.s01 .wrapper .box01 .mark {
  width: 102px;
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
main section.s01 .wrapper .box01 p {
  width: calc(100% - 480px);
  border: 1px solid #DBDBDB;
  background-color: #fff;
  font-size: 13px;
  line-height: 23px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 8px 40px 9px;
  border-radius: 10px;
}
main section.s01 .wrapper .box01 p a {
  color: #2F499E;
}
main section.s01 .wrapper .dl01 {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}
main section.s01 .wrapper .dl01 dt {
  width: 250px;
  background-color: #D9E2F3;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  padding: 23px 0 27px;
  color: #315EA9;
  font-weight: 500;
}
main section.s01 .wrapper .dl01 dd {
  width: calc(100% - 253px);
  background-color: #D9E2F3;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  padding: 23px 0 27px;
  color: #315EA9;
  font-weight: 500;
}
main section.s01 .wrapper .dl02 {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3px 0;
  border-bottom: 1px solid #DBDBDB;
}
main section.s01 .wrapper .dl02 dt {
  width: 250px;
  background-image: url(../../images/pa0103.jpg);
  background-size: 100% 100%;
  font-size: 16px;
  line-height: 20px;
  padding: 23px 5px 27px 20px;
  color: #315EA9;
  font-weight: 500;
  position: relative;
}
main section.s01 .wrapper .dl02 dt span {
  font-size: 10px;
  position: absolute;
  right: 10px;
  bottom: 5px;
}
main section.s01 .wrapper .dl02 dt .span02 {
  position: static;
  font-size: 13px;
}
main section.s01 .wrapper .dl02 dd {
  width: calc(100% - 253px);
  font-size: 12px;
  line-height: 150%;
  padding: 9px 15px;
  color: #62533D;
}
main section.s01 .wrapper .t07 {
  text-align: center;
  font-size: 18px;
  color: #848484;
  margin-top: 60px;
}
main section.s01 .wrapper .box04 {
  text-align: right;
  margin-top: 80px;
}
main section.s01 .wrapper .box04 p {
  width: 520px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #DBDBDB;
  background-color: #fff;
  font-size: 13px;
  line-height: 23px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: left;
  padding: 8px 40px 9px;
  border-radius: 10px;
}
main section.s01 .wrapper .box04 p a {
  color: #2F499E;
}
main section.s01 .wrapper .box09 {
  width: 330px;
  margin: 60px auto 0;
}
main section.s01 .wrapper .box09 p {
  font-size: 18px;
  line-height: 42px;
  color: #7F7C7C !important;
}
main section.s01 .wrapper .box09 .t08 {
  text-align: right;
}
main section.s01 .wrapper .box11 {
  margin-top: 80px;
}
main section.s01 .wrapper .box11 .box12 {
  width: 500px;
  margin-left: calc(100% - 500px);
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main section.s01 .wrapper .box11 .box12 .photo {
  width: 170px;
  display: block;
}
main section.s01 .wrapper .box11 .box12 p {
  width: 330px;
  text-align: right;
  font-size: 18px;
  line-height: 42px;
  color: #848484;
}

/* ------------------------------
 width < $width-1
------------------------------ */
@media screen and (max-width: 900px) {
  .header02 .wrapper .t01 {
    color: #315EA9;
    padding-left: 95px;
    position: relative;
    max-width: 100%;
  }
  .header02 .wrapper .t01 span {
    position: absolute;
    top: 0;
    right: 40px;
  }

  main section.s01 {
    padding: 30px 15px;
  }
  main section.s01 .wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }
  main section.s01 .wrapper h2 {
    font-size: 12px;
  }
  main section.s01 .wrapper .t01 {
    font-size: 11px;
    line-height: 22px;
    margin-top: 25px;
    border-bottom: 1px solid #D1D1D1;
    letter-spacing: 1px;
    padding-bottom: 25px;
  }
  main section.s01 .wrapper h3 {
    margin-top: 30px;
    color: #315EA9;
    font-size: 12px;
  }
  main section.s01 .wrapper .box01 {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 25px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 35px;
  }
  main section.s01 .wrapper .box01 .logo {
    width: 130px;
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  main section.s01 .wrapper .box01 .mark {
    width: 51px;
    display: block;
    margin-left: 30px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  main section.s01 .wrapper .box01 p {
    width: 100%;
    border: 1px solid #DBDBDB;
    background-color: #fff;
    font-size: 13px;
    line-height: 23px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 10px 30px;
    border-radius: 4px;
    margin-top: 15px;
  }
  main section.s01 .wrapper .box01 p a {
    color: #2F499E;
  }
  main section.s01 .wrapper .dl01 {
    display: none;
  }
  main section.s01 .wrapper .dl02 {
    display: block;
    padding: 0;
    border: none;
  }
  main section.s01 .wrapper .dl02 dt {
    width: 100%;
    background-image: url(../../images/pa0103.jpg);
    background-size: 100% 100%;
    font-size: 16px;
    line-height: 20px;
    padding: 11px 5px 15px 12px;
    color: #315EA9;
    font-weight: 500;
    position: relative;
  }
  main section.s01 .wrapper .dl02 dt span {
    font-size: 10px;
    position: absolute;
    right: 10px;
    bottom: 5px;
  }
  main section.s01 .wrapper .dl02 dt .span02 {
    position: static;
    font-size: 13px;
  }
  main section.s01 .wrapper .dl02 dd {
    width: 100%;
    font-size: 12px;
    line-height: 150%;
    padding: 9px 15px;
    border: 1px solid #DBDBDB;
  }
  main section.s01 .wrapper .t07 {
    text-align: center;
    font-size: 12px;
    color: #848484;
    margin-top: 40px;
  }
  main section.s01 .wrapper .box04 {
    text-align: right;
    margin-top: 40px;
  }
  main section.s01 .wrapper .box04 p {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    vertical-align: top;
    border: 1px solid #DBDBDB;
    text-align: left;
    background-color: #fff;
    font-size: 13px;
    line-height: 23px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 10px 40px;
    border-radius: 4px;
  }
  main section.s01 .wrapper .box04 p a {
    color: #2F499E;
  }
  main section.s01 .wrapper .box09 {
    width: 200px;
    margin: 50px auto 0;
  }
  main section.s01 .wrapper .box09 p {
    font-size: 12px;
    line-height: 28px;
  }
  main section.s01 .wrapper .box09 .t08 {
    text-align: right;
  }
  main section.s01 .wrapper .box11 {
    margin: 50px auto 0;
    width: 250px;
  }
  main section.s01 .wrapper .box11 .box12 {
    width: 250px;
    margin: 0;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.s01 .wrapper .box11 .box12 .photo {
    width: 85px;
    display: block;
  }
  main section.s01 .wrapper .box11 .box12 p {
    width: 165px;
    text-align: right;
    font-size: 10px;
    line-height: 21px;
    color: #848484;
  }
}