/* ------------------------------
 width: all
------------------------------ */
html {
  background-color: #FFF9F9;
}

.header02 dd {
  padding-left: 20px !important;
}

main section.s01 {
  padding: 120px 60px 1200px;
  position: relative;
  overflow: hidden;
}
main section.s01 .wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
main section.s01 .wrapper h1 {
  width: 420px;
  padding-left: 50px;
  margin: 0 auto;
}
main section.s01 .wrapper h1 img {
  width: 100%;
  display: block;
}
main section.s01 .wrapper .t01 {
  font-size: 24px;
  line-height: 42px;
  margin-top: 60px;
  letter-spacing: 4px;
  color: #848484;
}
main section.s01 .wrapper .t02 {
  text-align: right;
  font-size: 18px;
  line-height: 42px;
  margin-top: 63px;
  color: #848484;
}
main section.s01 .wrapper .photo {
  position: absolute;
  bottom: 0;
  left: calc(50% - 750px);
}

/* ------------------------------
 width < $width-1
------------------------------ */
@media screen and (max-width: 900px) {
  .header02 dd {
    padding-left: 10px !important;
  }

  main section.s01 {
    padding: 40px 15px 0;
    position: relative;
    overflow: hidden;
  }
  main section.s01 .wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }
  main section.s01 .wrapper h1 {
    width: 155px;
    padding-left: 30px;
    margin: 0 auto;
  }
  main section.s01 .wrapper h1 img {
    width: 100%;
    display: block;
  }
  main section.s01 .wrapper .t01 {
    font-size: 12px;
    line-height: 22.5px;
    margin-top: 30px;
    color: #848484;
    letter-spacing: 2px;
  }
  main section.s01 .wrapper .t02 {
    text-align: right;
    font-size: 12px;
    line-height: 22.5px;
    margin-top: 22.5px;
    color: #848484;
  }
  main section.s01 .wrapper .photo {
    position: static;
    width: calc(100% + 30px);
    margin: 40px auto 0;
    margin-left: -15px;
    margin-right: -15px;
  }
}