$fs14: 1.4rem;
$fs16: 1.6rem;
$radius: 0.6rem;
$radius-middle: 1rem;
$smallest: 1.2rem;
$small: 1.4rem;
$middle: 1.6rem;
$middle1: 1.8rem;
$middle2: 2rem;
$big: 2.5rem;

:root {
  --colorTextPink: #f299a9;
}
