.has-flick, .has-flick-sp, .has-flick-tb{
    position: relative;
    z-index: 1;
    &::after{
        content: '';
        width: 84px;
        height: 57px;
        display: block;
        background-image: url("../images/flick.png");
        background-size: cover;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 9;
    }
    &.is-bottom{
        &::after{
            bottom: -40px;
            right: 10px;
        }
    }
    &.dragged::after{
        display: none !important;
    }
}
.has-flick-sp{
    &::after{
        display: none;
        @media(max-width: 767px){
            display: block;
        }
        content: '';
        right: 0;
        bottom: -35px;
    }
}
.has-flick-tb{
    &::after{
        display: none;
        @media(max-width: 1024px){
            display: block;
        }
        content: '';
        right: 0;
        bottom: -20px;
    }
    &.top-news-list::after{
        right: 30%;
    }
    &.has-flick{
        &::after{
            display: block;
            right: 150px;
        }
    }
}

.kc-tab.top .has-flick::after{
    bottom: -35px;
}

@media(min-width: 1025px){
    .kc-tab.top .has-flick::after{
        bottom: -28px;
        right: 15%;
    }
}
// @media(min-width: 768px) and (max-width: 1024px){
//     .kc-tab.top .has-flick::after{
//         display: none;
//     }
// }