/* ------------------------------
 width: all
------------------------------ */
html {
  background-color: #FFF9F9;
}

main section.s01 {
  padding: 6px 60px 0;
}
main section.s01 .wrapper {
  max-width: 1120px;
  margin: 0 auto;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main section.s01 .wrapper .maincontents {
  width: calc(100% - 250px);
}
main section.s01 .wrapper .maincontents h2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 51px;
  border-bottom: 1px solid #D1D1D1;
  padding-bottom: 10px;
  color: #383838;
}
main section.s01 .wrapper .maincontents h2 img {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
main section.s01 .wrapper .maincontents .t01 {
  margin-top: 30px;
  font-size: 16px;
  line-height: 30px;
  color: #333 !important;
}
main section.s01 .wrapper .maincontents .t01 a {
  color: #2F499E;
}
main section.s01 .wrapper .maincontents .dl02 {
  padding-right: 30px;
  margin-top: 80px;
}
main section.s01 .wrapper .maincontents .dl02 dt {
  font-size: 19px;
  line-height: 30px;
  border-bottom: 3px solid #F7BFC9;
  padding-bottom: 5px;
}
main section.s01 .wrapper .maincontents .dl02 dt.adjust01 p {
  max-width: 700px;
}
main section.s01 .wrapper .maincontents .dl02 dt span {
  text-decoration: underline;
}
main section.s01 .wrapper .maincontents .dl02 dd {
  font-size: 14px;
  line-height: 30px;
  padding: 10px;
  margin-top: 5px;
  color: #333 !important;
}
main section.s01 .wrapper .maincontents .dl03 {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
  padding-right: 30px;
  position: relative;
}
main section.s01 .wrapper .maincontents .dl03 dt {
  /* width: 103px; */
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
main section.s01 .wrapper .maincontents .dl03 dt:hover {
  cursor: pointer;
}
main section.s01 .wrapper .maincontents .dl03 dt p {
  text-align: center;
  font-size: 10px;
}
main section.s01 .wrapper .maincontents .dl03 dt .mini {
  display: block;
  margin: 5px auto 0;
}
main section.s01 .wrapper .maincontents .dl03 dt .large {
  width: 419px;
  display: block;
  position: absolute;
  top: -270px;
  right: 30px;
  display: none;
}
main section.s01 .wrapper .maincontents .dl03 dd {
  width: calc(100% - 150px);
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
main section.s01 .wrapper .maincontents .dl03 dd ul li {
  font-size: 14px;
  line-height: 30px;
  padding-left: 20px;
  position: relative;
  color: #333 !important;
}
main section.s01 .wrapper .maincontents .dl03 dd ul li + li {
  margin-top: 60px;
}
main section.s01 .wrapper .maincontents .dl03 dd ul li span {
  position: absolute;
  top: 0;
  left: 0;
}
main section.s01 .wrapper .maincontents .dl03 dd ul li a {
  color: #2F499E;
}
main section.s01 .wrapper .maincontents .t05 {
  font-size: 22px;
  font-weight: 500;
  margin-top: 120px;
  line-height: 46px;
  border-bottom: 1px solid #D1D1D1;
  padding-bottom: 10px;
  color: #333;
}
main section.s01 .wrapper .maincontents .t05 img {
  vertical-align: top;
  margin-right: 8px;
}
main section.s01 .wrapper .maincontents .t06 {
  font-size: 16px;
  line-height: 30px;
  margin-top: 15px;
  color: #333;
}
main section.s01 .wrapper .maincontents .ul01 {
  margin-top: 60px;
  padding-left: 200px;
}
main section.s01 .wrapper .maincontents .ul01 li {
  position: relative;
  padding-left: 20px;
  font-size: 14px;
  line-height: 30px;
  margin-top: 10px;
  color: #333 !important;
}
main section.s01 .wrapper .maincontents .ul01 li span {
  position: absolute;
  top: 0;
  left: 0;
}
main section.s01 .wrapper .maincontents .ul01 li a {
  color: #2F499E;
}
main section.s01 .box05 {
  width: 300px;
  margin: 110px auto 0;
}
main section.s01 .box05 .t07 {
  color: #666;
}
main section.s01 .box05 p {
  font-size: 18px;
  line-height: 42px;
}
main section.s01 .box05 .t08 {
  text-align: right;
  color: #666;
}
main section.s01 .box05 img {
  display: block;
  margin: 50px auto 0;
}
main section.s01 .box05 .t09 {
  text-align: center;
  color: #F3A4B5;
  font-size: 22px;
  margin-top: 10px;
  letter-spacing: 5px;
}

/* ------------------------------
 width < $width-1
------------------------------ */
@media screen and (max-width: 900px) {
  main section.s01 {
    padding: 30px 15px 0;
  }
  main section.s01 .wrapper {
    max-width: 1120px;
    width: 100%;
    display: block;
  }
  main section.s01 .wrapper .maincontents {
    width: 100%;
  }
  main section.s01 .wrapper .maincontents h2 {
    font-size: 12px;
    font-weight: 500;
    line-height: 26px;
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 10px;
  }
  main section.s01 .wrapper .maincontents h2 img {
    width: 26px;
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
  }
  main section.s01 .wrapper .maincontents .t01 {
    margin-top: 20px;
    font-size: 11px;
    line-height: 22.5px;
  }
  main section.s01 .wrapper .maincontents .t01 a {
    color: #2F499E;
  }
  main section.s01 .wrapper .maincontents .dl02 {
    padding-right: 0;
    margin-top: 30px;
  }
  main section.s01 .wrapper .maincontents .dl02 dt {
    font-size: 11px;
    line-height: 22.5px;
    border-bottom: 3px solid #F7BFC9;
    padding-bottom: 5px;
  }
  main section.s01 .wrapper .maincontents .dl02 dt span {
    text-decoration: underline;
  }
  main section.s01 .wrapper .maincontents .dl02 dd {
    font-size: 11px;
    line-height: 22.5px;
    padding: 5px 0 0 0;
    margin-top: 5px;
  }
  main section.s01 .wrapper .maincontents .dl03 {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    padding-right: 0px;
  }
  main section.s01 .wrapper .maincontents .dl03 dt {
    width: 83px;
  }
  main section.s01 .wrapper .maincontents .dl03 dt p {
    text-align: center;
    font-size: 10px;
    letter-spacing: 0;
  }
  main section.s01 .wrapper .maincontents .dl03 dt .mini {
    width: 100%;
    display: block;
  }
  main section.s01 .wrapper .maincontents .dl03 dt .large {
    width: 419px;
    max-width: 90vw;
    display: block;
    position: absolute;
    top: -70px;
    right: 0;
    margin: 0 auto;
    display: none;
  }
  main section.s01 .wrapper .maincontents .dl03 dd {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: calc(100% - 100px);
  }
  main section.s01 .wrapper .maincontents .dl03 dd ul li {
    font-size: 11px;
    line-height: 22.5px;
    padding-left: 20px;
    position: relative;
  }
  main section.s01 .wrapper .maincontents .dl03 dd ul li + li {
    margin-top: 20px;
  }
  main section.s01 .wrapper .maincontents .dl03 dd ul li span {
    position: absolute;
    top: 0;
    left: 0;
  }
  main section.s01 .wrapper .maincontents .dl03 dd ul li a {
    color: #2F499E;
  }
  main section.s01 .wrapper .maincontents .t05 {
    font-size: 12px;
    font-weight: 500;
    margin-top: 40px;
    line-height: 26px;
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 5px;
  }
  main section.s01 .wrapper .maincontents .t05 img {
    width: 26px;
    vertical-align: top;
    margin-right: 8px;
  }
  main section.s01 .wrapper .maincontents .t06 {
    font-size: 11px;
    line-height: 22.5px;
    margin-top: 10px;
  }
  main section.s01 .wrapper .maincontents .ul01 {
    margin-top: 30px;
    padding-left: 0px;
  }
  main section.s01 .wrapper .maincontents .ul01 li {
    position: relative;
    padding-left: 20px;
    font-size: 11px;
    line-height: 22.5px;
    margin-top: 6px;
    text-align: right;
  }
  main section.s01 .wrapper .maincontents .ul01 li.ta {
    text-align: left;
  }
  main section.s01 .wrapper .maincontents .ul01 li span {
    position: absolute;
    top: 0;
    left: 0;
  }
  main section.s01 .wrapper .maincontents .ul01 li a {
    color: #2F499E;
  }
  main section.s01 .wrapper .sidemenu {
    display: none;
  }
  main section.s01 .box05 {
    width: 200px;
    margin: 50px auto 0;
  }
  main section.s01 .box05 p {
    font-size: 12px;
    line-height: 28px;
  }
  main section.s01 .box05 .t08 {
    text-align: right;
  }
  main section.s01 .box05 img {
    width: 85px;
    display: block;
    margin: 30px auto 0;
  }
  main section.s01 .box05 .t09 {
    text-align: center;
    color: #F3A4B5;
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: 3px;
  }
}

/* fix 02/11/2022 */
.btn_modal01.is-open .mini.op {
  display: none !important;
}
.btn_modal01.is-open .mini.os {
  display: block !important;
}
.header02{
  position: relative;
}
.no-menu svg path{
  fill: #FFF;
}