.breadcrumb{
  display: inline-flex;
  align-items: center;
  margin: 0 0 12px;
  list-style: none;
  padding: 20px 0 0 57px;
  &__item{
    margin-right: 44px;
    display: inline-flex;
    align-items: center;
    .label{
      border: 1px solid #d9d9d9;
      border-right: 0;
      min-width: 55px;
      display: inline-flex;
      justify-content: center;
      position: relative;
      font-size: 16px;
      line-height: 19px;
      height: 21px;
      margin-right: 23px;
      letter-spacing: 1.6px;
      &:after{
        content: "";
        display: block;
        position: absolute;
        width: 13px;
        height: 13px;
        transform: rotate(45deg);
        border-width: 1px;
        border-style: solid;
        border-color: #d9d9d9 #d9d9d9 transparent transparent;
        right: -7px;
        top: 2px;
      }
    }
    .value{
      text-decoration: underline;
      font-size: 18px;
      line-height: 1.44;
      letter-spacing: 1.8px;
      color: #0D0DDE;
      a{
        color: #0D0DDE;
        &:visited, &:active, &:focus{
          color: #0D0DDE;
        }
      }
    }
  }
  @media(max-width: 767px){
    padding: 1.333vw 2.133vw 1.333vw 2.667vw;
    width: 100%;
    margin: 1.333vw 0 0;
    background-image: linear-gradient(to bottom, rgba(255, 228, 231, 0.01) 0%, rgba(255, 228, 231, 1) 100%);
    &__item{
      margin-right: 0;
      .label{
        border: 0;
        font-size: 3.733vw;
        color: #5B5B5B;
        min-width: 0;
        margin-right: 1.333vw;
        height: auto;
        line-height: 1.42;
        &:after{
          content: '>';
          transform: none;
          border: none;
          position: relative;
          left: 0;
          top: 0;
          margin-left: 1.333vw;
          width: auto;
        }
      }
      &:last-child{
        .label {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}

//header category
.header-category{
  position: relative;
  @media(min-width: 768px){
    background-image: none !important;
  }
  .information-under{

    .line-pink{
      height: 4px;
      background-color: #F7C2CE;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        left: 28%;
        top: 0;
        height: 0;
        width: 0;
        border-width: 14px 12px 14px 12px;
        border-color: #F2A2B4 transparent transparent transparent;
        border-style: solid;
      }
    }

    .header-category__under{
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      .doctor-left{
        width: 55%;
        display: flex;
        &__image{
          padding-left: 100px;
          width: 0;
          position: relative;
          img{
            left: -26px;
            top: -15px;
            position: absolute;
            z-index: 1;
          }
        }
        &__title{
          margin-top: 27px;
          margin-bottom: 13px;
          font-size: 28px;
          line-height: 1.43;
          letter-spacing: 2.8px;
          text-shadow: 0 3px 6px rgba(0,0,0,0.15);
        }
      }

      .information-right{
        display: flex;
        width: 45%;
        justify-content: flex-end;
        padding-right: 8px;
        .debut-date{
          padding-right: 27px;
          padding-top: 13px;
          font-size: 12px;
          font-family: 'ms-pgothic', sans-serif;
          font-weight: 400;
          color: #666666;
          line-height: 1.17;
        }
        &__right{
          width: 183px;
          text-align: right;
          position: relative;
          .recommended-supporters{
            border: 1px solid #D5D1D1;
            padding: 5px;
            color: #666666;
            display: inline-flex;
            align-items: flex-start;
            flex-wrap: wrap;
            margin-bottom: 5px;
            box-shadow: 0 2px 11px rgba(0,0,0,0.08);
            img{
              max-width: 132px;
            }
            &__label{
              font-size: 12px;
              line-height: 1.17;
              font-family: 'ms-pgothic', sans-serif;
              font-weight: 400;
              letter-spacing: -0.1px;
              padding-top: 3px;
              margin-right: 1px;
            }
            &__value{
              border: 1px solid #C8C8C8;
              display: inline-flex;
              justify-content: flex-end;
              min-width: 55px;
              line-height: 1.17;
              font-family: "ms-pgothic", sans-serif;
              padding: 1px 4px;
              font-size: 12px;
            }
            &__desc{
              font-size: 10px;
              line-height: 1.2;
              font-family: "ms-pgothic", sans-serif;
              padding-left: 9px;
              padding-top: 3px;
            }
          }

          .like-medal {
            position: absolute;
            right: 0;
            &__fb-like {
              margin-bottom: 5px;

              a {
                line-height: 0;
                display: block;
                text-decoration: none;
              }

              img {
                max-width: 95px;
                height: auto;
              }
            }

            &__twitter-like {
              margin-bottom: 2px;

              a {
                line-height: 0;
                display: block;
                text-decoration: none;
              }

              img {
                max-width: 80px;
                height: auto;
              }
            }

            &__medal {
              padding-right: 13px;
            }
          }
        }
      }
    }

  }
  @media(max-width: 767px){
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-height: 47.733vw;
    display: flex;
    align-items: flex-end;
    &:before{
      content: '';
      height: 3.733vw;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    }
    &:after{
      content: '';
      height: 24.800vw;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    }
    .page-desc-sm{
      display: inline-block;
      position: absolute;
      right: 0;
      font-size: 3.200vw;
      color: #919191;
      top: -6.133vw;
    }
    .information-under{
      position: relative;
      z-index: 2;
      padding-left: 7.200vw;

      .header-category__under {
        width: 100%;

        .doctor-left {
          width: 100%;

          &__title {
            margin: 0;
            font-size: 5.867vw;
            line-height: 1.45;
          }
        }
      }
    }
  }
}
//End header category