.list-mitori{
    margin-top: 16px;
}
.mitori-item{
    border-bottom: 1px solid rgba(190, 190, 190, 0.3);
    &:first-child{
        border-top: 1px solid rgba(190, 190, 190, 0.3);
    }
    display: flex;
    .item-left{
        width: 68%;
        padding: 15px 0 5px;
        .top{
            margin-bottom: 7px;
            .d-flex{
                display: flex;
                align-items: center;
                text-decoration: none;
                .avatar{
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .title{
                    margin-left: 10px;
                    @include fontStyle(16, 50, 24, #000000);
                    font-weight: bold;
                    min-height: 42px;
                    border-bottom: 1px dashed #E2E2E2;
                    flex: 1;
                    padding-bottom: 10px;
                    position: relative;
                    padding-left: 5px;
                    padding-right: 5px;
                    &:before{
                        content: '「';
                        position: absolute;
                        top: 0;
                        right: calc(100% - 5px);
                    }
                    &:after{
                        content: '」';
                        position: absolute;
                        //top: 0;
                        //left: calc(100% - 5px);
                    }
                }
            }
        }
        .bottom{
            display: flex;
            align-items: flex-end;
            .name{
                @include fontStyle(13,0,18,#5B5B5B);
                font-weight: bold;
                text-decoration: none;
                width: 50%;
                span{
                    @include fontStyle(9, 50,15,#828282);
                    padding-left: 8px;
                }
            }
            .p-bottom{
                width: 50%;
                display: flex;
                padding-right: 10px;
                column-gap: 15px;
                align-items: flex-end;
                justify-content: flex-end;
                .rela{
                    @include fontStyle(14, 0, 21, #5B5B5B);
                    font-weight: bold;
                }
                .tag{
                    @include fontStyle(12, 25, 18, #112375);
                    font-weight: bold;
                }
            }
        }
    }
    .item-right{
        width: 32%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding-left: 10px;
        .sushi{
            max-width: 125px;
            max-height: 75px;
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 5px;
            @media(max-width: 1024px){
                max-width: 98px;
                max-height: 71px;
            }
        }
    }
}

.view-all-mitori{
    .link-icon{
        display: inline-flex;
        padding: 8px 20px;
        border: 1px solid #ccc;
        border-top: 0;
        text-decoration: none;
        border-radius: 0 0 5px 5px;
        font-weight: bold;
        font-size: 14px;
        gap: 10px;
        line-height: 1.3;
        color: #0A2682;
        position: relative;
        &:before{
            content: '';
            height: 1px;
            right: 100%;
            top: 0;
            position: absolute;
            width: 50px;
            background-color: #ccc;
        }
        &:after{
            content: '';
            height: 1px;
            left: 100%;
            top: 0;
            position: absolute;
            width: 50px;
            background-color: #ccc;
        }
    }
}
