.nav-two {
  padding: 2rem 2rem 2rem 4rem;
  background-color: #f9f6f1;
}

.nav-item {
  display: flex;
  margin-top: 2.5rem;
  gap: 2.5rem;

  &:first-child {
    margin-top: 0;
  }

  &__line {
    width: 3px;
    height: 3.3rem;
    background-color: #f0889a;
  }

  &__content {
    flex: 1;
  }

  &__content-title {
    color: #f18a9c;

    &--middle {
      font-size: 1.3rem;
      @extend .nav-item__content-title;
    }

    &--big {
      font-size: 1.7rem;
      @extend .nav-item__content-title;
    }

    &--small {
      font-size: 1.1rem;
      @extend .nav-item__content-title;
    }
  }

  &__content-detail {
    font-family: meiryo, sans-serif;
    font-size: 0.8rem;
    color: #f18a9c;
  }

  &__icon {
    width: 4rem;
  }
}
